
.container {
  width: 100%;
  height: calc(100vh - 100px);
  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonsContainer {
  position: absolute;
  right: 0;
  top: calc(50% - 20px);
  display: flex;
  column-gap: 15px;
}

.editingBlock {
  display: flex;
  column-gap: 15px;
  margin: 15px 20px;

  &__element {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
  }
}

@media (max-width: 900px) {

  .editingBlock {
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 20px;

  }


  .container {
    height: calc(100vh - 140px);
  }
}

@media (max-width: 600px) {
  .buttonsContainer {
    position: static;
    top: calc(50% - 20px);
    display: flex;
    column-gap: 15px;
  }
}

@media (max-width: 450px) {

  .editingBlock {
    flex-direction: column;

    &__element {
      justify-content: space-between;
    }
  }
}
