.loginPage {
  max-width: 420px;
  width: 50%;
  height: 60%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

@media (max-width: 900px) {
  .loginPage {
    width: 75%;
    height: 60%;
    margin-top: 40px;
  }
}

@media (max-width: 450px) {
  .loginPage {
    width: 80%;
    height: 60%;
    margin-top: 40px;
  }
}
